<html>
<head><meta charset='utf-8'></head>
<body>
  <p>Hey <%= firstName %>,</p>
  <br>
  <p>
    How have you been? Cause I know I've been great. I feel like it's been almost <%= numMonthsSinceContact %> months
    since we last spoke. I'm sure you're wondering what I'm up to, so I'll tell you. I'm learning to code full-time at Fullstack Academy and having a blast.

  </p>
  <p>
    I've been blogging about my experience learning full-stack javascript on my blog. 
    You can check out my new posts here: 
    <ul>
      <% for(var i=0; i<latestPosts.length; i++) {%>
         <li><a href=<%= latestPosts[i].post_url %>> <%= latestPosts[i].title %></a>  </li>
      <% } %>
    </ul>
  </p>

  <p>
    Hope to see you soon,<br>
    Steve
  </p>
</body>
</html>